h2{
    text-transform: uppercase;
}
header h1{
    font-family: 'Patua One';
    display:inline;
}
header img{
    border-radius:50%;
    float:left;
}
header ul{
    list-style-type:none;/*Gets rid of bullet point*/
    margin:0px;
    padding:0px;
}
header li{

    display:inline; /* Makes it a row instead of vertical*/
    padding:0px 20px 0px 20px;/*Spacing between list elements*/
}
header li a{
    text-decoration:none;/*No underline for link*/
    color: whitesmoke;
    text-transform: uppercase;
}
header li a:hover
{
    color:orange;
    border: 1px solid black;
}
header li a:active
{
    color:hsl(33,100%,40%);
    transform:1.1;
}
.container{
    display:block;
    margin:auto;
    width:80%;
    overflow:hidden;
}
header{
    height:50px;
    background:#35424a;
    color:white;
    border-bottom:orange 3px solid;
    position: fixed;
    width: 100%;
    /* Need to learn JS FIRST.
    position:fixed;
    top:0;
    width:100%;
    */

}
body{
    margin:0px ;/* Fixes slight white line on edge*/
}
header nav
{
    float:right;
    margin-top:10px;
}

/*First body stuff*/
#top{
    border-bottom:rgba(50, 50, 50, 1) 3px solid;
    font-family: 'Abel';
    font-size: 30px;
    width:100%;
    height: 500px;
    padding-top: 100px;
    background: linear-gradient(60deg, #f47920 55%, rgba(50, 50, 50, 1) 55%);
    color:white;
    text-align:center;
    text-shadow: -1px 0 orange, 0 1px black, 1px 0 black, 0 -1px black;
}
#top img
{
    border-radius:75%;
    height: 100px;
    width :100px;
    border: 5px solid orange;
}
#top span:before
{
    content:'HTML';
    animation: animate infinite 8s;
}
@keyframes animate
{
    0%
    {
        content:"HTML.";
    }
    25%
    {
        content:"CSS.";
    }
    50%
    {
        content:"JAVASCRIPT.";
    }
    75%
    {
        content:"C++.";
    }
    100%{
        content:"Coding.";
    }
}
/*transition*/
#mid{
    text-align:center;
    background-color:#f2f2f2;
    height:600px;
}
#mid h2{
    font-family: 'Patua One';
    font: bolder;
    font-size:40px;
}
#mid p
{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size:20px;
    font-weight:400;
}
.float/* Not working*/
{
    float:left;
    width: 33%;
    text-align:center;
}
#mid h3{
    font-size:31px;

}
#mid p{
    font-size:20px;
    font-weight:300px;

}
/*Contact me section*/
footer{
    
    left: 0.00%;
    height:0px;
    background:#35424a;
    color:white;
    border-top:orange 3px solid;
    width: 100%;
    padding-bottom:30px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size:10px;
    font-weight:100;
    overflow:hidden;
    /*width:90%; Leaving out for now. Instead make circle white circle?*/

}
.box{
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    font-size: 150%;
}


 
/*
.footer {
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}*/